{% extends 'base.html.twig' %}

{% block title %}{{ parent()}} - Ver Entrada{% endblock %}

{% block body %}

    {# {{ dump(entrada) }} #}
    <h3 class="text-center">{{entrada.title | upper()}}</h3>
    
    <img src="{{ asset('uploads/images_blogs_entrities/' ~ (entrada.image != '' ? entrada.image : 'empty.png') ) }}" class="img-thumbnail mx-auto d-block mb-4" style="max-width:60%" />
    <strong>Autor: </strong>/<span>{{entrada.user.name}}</span><br />
    <strong>Fecha: </strong>/<span>{{entrada.date | date('y-m-d')}}</span><br />
    <p>{{entrada.text}}</p>
    
{% endblock %}